/*header*/
header{
  background-color:#45404e;
  height: 56px;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;

}

/*tittle*/
.title{
  color: white;
  text-align: center;
}

/*login card*/
.login-card{
  background-color :#45404e;
}
.login-page{
  margin-top: 56px;
}

/*page block*/
.page-block{

  top: 65px;
  height: 800px;
  left:0
}

/*navigation block*/
.navigation-block{
  background-color:#45404e;
  z-index: 1;
  position: fixed;
  top: 65px;
  height: 100%;
}
.navigation{
  padding-top: 1rem;
  padding-left: 0;
  list-style-type: none;
}

.navigation li{
text-decoration: none;
padding: 0.5rem 0.2rem;
cursor: pointer;
}

.navigation a{
  text-decoration: none;
  color: white;
}
.navigation li:hover{
  background-color: white;
}
.navigation li:hover a {
  
  color: #45404e;
}

.navigation .active{
  color: yellowgreen;
}

/*back-drop*/
.back-drop{
    
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */ /* Location of the box */
  left: 0;
  top: 56px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}
/*DrawerToggle*/
.drawer-toggle{
  max-width: 13%;
    margin-top: 5px;
    flex: 13%;
}
.drawer-toggle div{
  height: 3px;
  width: 90%;
  background-color: white;
}
/*profile-card*/
.my-card{
  border-radius: .5rem;
  background-color:#45404e ;
  color:white;
  text-transform: capitalize;
}


table{
  
  color: white !important;
}
table tr{
  cursor: pointer;
}

@media (min-width: 768px){
  table{
    display: inline-table !important
  }
  /*page block*/
  .page-block{
    left: 16.60%;
  }
}
@media (max-width: 768px){
  /*navigation*/
  .navigation-block.opened{
    transform: translateX(0);
    }
  .navigation-block.closed{
    transform: translateX(-100%);
    }
  .navigation-block{
    transition: transform 0.3s ease-out;
    top:56px;
    }
}

